@using AspNetUI.DTOs.User
@model IEnumerable<UserDTO>
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Kullanıcılar</h5>
                <a asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="input-group mb-2">
                        <select name="role" asp-items="ViewBag.Roller" class="form-select">
                            <option value="" selected>Hepsi</option>
                        </select>
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
                @if (Model.Count() == 0)
                {
                    <p class="text-danger"> Kullanıcı Yok.</p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Id</th>
                                    <th>Ad Soyad</th>
                                    <th>Email</th>
                                    <th>Üyelik Tarihi</th>
                                    <th>Rol(ler)</th>
                                    <th style="width: 120px;"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.AdSoyad</td>
                                        <td>@item.Email</td>
                                        <td>@item.DateAdded.ToString("dd.MM.yyyy")</td>
                                        <td>
                                            @if (item.Roles != null && item.Roles.Any())
                                            {
                                                @string.Join(", ", item.Roles)
                                            }
                                            else
                                            {
                                                <span>Customer</span>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id"
                                                   class="btn btn-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>